.userProfile {
  float: left;
  margin: 20px;
}

.cardProfile {
  float: left;
  margin: 20px;
  box-sizing: border-box;
}

#creditCard {
  background: #A58CB6;
  border-radius: 20px;
  width: 370.7px;
  height: 233.75px;
  box-sizing: border-box;
  padding: 10px;
}

#cardHolderName {
  margin-top: 178px;
  margin-left: 18px;
  /*font-family: "Lucida Sans Typewriter", monospace; */
  /*font-family: Consolas, monospace;*/
  font-family: AndaleMono, monospace;
  /*font-family: "Lucida Console", Courier, monospace;*/
  /*font-family: FreeMono, monospace;*/
  font-stretch: ultra-condensed;
  font-size: 15px;
  color: #C0C0C0;
  text-shadow: 2px 2px #808080;
  letter-spacing: 1px;
}

/*These are CSS Classes for CSSTransitionGroup*/
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}